XTerm*selectToClipboard: true
XTerm*faceName:    Jetbrain Mono:pixelsize=14
XTerm*background:  #111111
XTerm*foreground:  #00FF00
XTerm*color0:      #000000
XTerm*color1:      #9e1828
XTerm*color2:      #aece92
XTerm*color3:      #968a38
XTerm*color4:      #414171
XTerm*color5:      #963c59
XTerm*color6:      #418179
XTerm*color7:      #bebebe
XTerm*color8:      #666666
XTerm*color9:      #cf6171
XTerm*color10:     #c5f779
XTerm*color11:     #fff796
XTerm*color12:     #4186be
XTerm*color13:     #cf9ebe
XTerm*color14:     #71bebe
XTerm*color15:     #ffffff

! prevent jumping back to the last line with new output
xterm*scrollTtyOutput: false
XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

